{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Typeusers list</h1>

    <table>
        <thead>
            <tr>
                <th>Typeuser</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeUser in typeUsers %}
            <tr>
                <td><a href="{{ path('typeuser_show', { 'id': typeUser.id }) }}">{{ typeUser.typeUser }}</a></td>
                <td>{{ typeUser.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeuser_show', { 'id': typeUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeuser_edit', { 'id': typeUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeuser_new') }}">Create a new typeUser</a>
        </li>
    </ul>
{% endblock %}
