{% extends 'baseBack.html.twig' %}
{% block body %}
  Bienvenue {{utilisateur.nom}} {{utilisateur.prenom}} dans le backOffice ! 
  <ul>
  <li><a href="{{ path('deplacement_index') }}">Modifier la table deplacement</a></li>
  <li><a href="{{ path('deplacementjour_index') }}">Modifier la table deplacement_jour</a></li>
  <li><a href="{{ path('service_index') }}">Modifier la table service</a></li>
  <li><a href="{{ path('societe_index') }}">Modifier la table societe</a></li>
  <li><a href="{{ path('typedeplacement_index') }}">Modifier la table type_deplacement</a></li>
  <li><a href="{{ path('typeuser_index') }}">Modifier la table type_user</a></li>
  <li><a href="{{ path('user_index') }}">Modifier la table user</a></li>
  <li><a href="{{ path('ville_index') }}">Modifier la table ville</a></li>
  </ul>
{% endblock %}
