{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deplacement du formulaire {{deplacement.id}} liste</h1>

    <table>
        <thead>
            <tr>
                <th>Nbkm</th>
                <th>Montant</th>
                <th>Jour</th>
                <th>Date</th>
                <th>Id</th>
                {% if deplacement.validation==false %}<th>Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for deplacementJour in deplacementJours %}
            <tr>
                <td>{{ deplacementJour.nbKm }}</td>
                <td>{{ deplacementJour.montant }}</td>
                <td>{{ deplacementJour.jour }}</td>
                <td>{% if deplacementJour.date %}{{ deplacementJour.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ deplacementJour.id }}</td>
                {% if deplacement.validation==false %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('f_deplacementjour_show', { 'id': deplacementJour.id }) }}">show</a>
                        </li>

                        <li>
                            <a href="{{ path('f_deplacementjour_edit', { 'id': deplacementJour.id }) }}">edit</a>
                        </li>

                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if deplacement.validation==false %}
    <ul>
        <li>
            <a href="{{ path('f_deplacementjour_new',{ 'id': deplacement.id }) }}">Créer un nouveau déplacement</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
