{% extends 'base.html.twig' %}
{% block body %}
  <span id="bienvenue">Bienvenue ! {{utilisateur.nom}} {{utilisateur.prenom}}</span>
  <div id="tableau">
  <h1>Déplacements liste :</h1>

<table>
    <thead>
        <tr>
            <th>Année</th>
            <th>Mois</th>
            <th>Date de validation</th>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for deplacement in deplacements %}
        <tr>
            <td><a href="{{ path('f_deplacement_show', { 'id': deplacement.id }) }}">{{ deplacement.annee }}</a></td>
            <td>{{ deplacement.mois }}</td>
            <td>{% if deplacement.validation %}{{ deplacement.dateValidation|date('Y-m-d') }}{% else %}Pas validé{% endif %}</td>
            <td>{{ deplacement.id }}</td>
            <td>
                <ul>
                    <li class="center">
                        <a href="{{ path('f_deplacement_show', { 'id': deplacement.id }) }}">Voir</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('f_deplacement_new') }}">Créer un nouveau Déplacements</a>
    </li>
</ul>
{% endblock %}
