{% extends 'base.html.twig' %}
{% block body %}
  <span id="bienvenue">Bienvenue ! {{utilisateur.nom}} {{utilisateur.prenom}}</span>
  <div id="tableau">
  Liste des Déplacements:

  <table>
    <tr>
      <th>Annee</th>
      <th>Mois</th>
      <th>Voir/Modifier</th>
    </tr>
    {% for instance in deplacements %}
    <tr>
        <td>{{ instance.annee }}</td>
        <td>{{ instance.mois }}</td>
        <td><a href="{{ path('new_deplacement_j',{ 'id':instance.id}) }}">Oui</a></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
