{% extends 'base.html.twig' %}
{% block body %}
  <span id="bienvenue">Bienvenue ! {{utilisateur.nom}} {{utilisateur.prenom}}</span>
  <div id="tableau">
  Déplacement réalisé :

  <table>
    <tr>
      <th>nb de km</th>
      <th>montant</th>
      <th>jour</th>
    </tr>
    {% for instance in deplacements %}
    <tr>
        <td>{{ instance.nbkm }}</td>
        <td>{{ instance.montant }}</td>
        <td>{{ instance.jour }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
